*
!.gitignore
!.gitlab-ci.yml
!*.py
!*.pdf
!*.cu
!*.dat

!/*.cpp
!/*.hpp
!/meson.build
!/README.md

!/include
!/include/*.hpp

!/tests
!/tests/*.cu
!/tests/*.cpp
!/tests/meson.build

.vscode/
.DS_Store
