*
!.gitignore
!.gitlab-ci.yml

!/example
!/example/*.cu
!/example/*.cpp
!/example/*.dat
!/example/*.pdf
!/example/*.py
!/example/meson.build

!/include
!/include/*.hpp
!/include/base/
!/include/base/*.hpp

!/test
!/test/*.cu
!/test/*.cpp
!/test/meson.build

.vscode/
.DS_Store
