*
!.gitignore

!/example
!/example/*.cu
!/example/*.cpp
!/example/*.dat
!/example/*.png
!/example/*.py
!/example/meson.build

!/include
!/include/*.hpp
!/include/base/
!/include/base/*.hpp

!/test
!/test/*.cu
!/test/*.cpp
!/test/meson.build

!.github/
!.github/workflows
!.github/workflows/ci.yml

.vscode/
.DS_Store
